.input_area {
  max-width: 600px;
  padding: 5em;
}

.first_input_text_area {
  width: 100%;
}

.first_input_button {
  border: 1px solid blue;
  cursor: pointer;
  text-align: center;
}

.todo_is_done {
  background-color: green;
}

.todo_button_done {
  background-color: chartreuse;
}

.todo_button_notdone {
  background-color: rgb(255, 0, 0);
}

.todo_text_done {
  color: white;
  text-decoration: line-through;
}

.input_text_attendee {
  display: flex;
  flex-direction: column;
}
